---
import Layout from "../layouts/Layout.astro";
import pDior from "../db/dior.json";
import pPacoRabanne from "../db/paco-rabanne.json";
import pChanel from "../db/chanel.json";

import OrderSelect from "../components/OrderSelect";

const perfumes = [...pDior, ...pPacoRabanne, ...pChanel];
---

<Layout title="principal">
	<h1>Welcome to Astro</h1>
	<p>
		Astro is a new kind of static site builder that delivers lightning-fast
		performance with a modern developer experience.
	</p>
	<p>
		<a href="https://docs.astro.build" target="_blank"
			>Read the documentation</a
		>
	</p>
	
	<OrderSelect perfumes={perfumes} client:load />
</Layout>
